<%- include('header') %>
    <h2>
        <!-- {}　{{}} <%= %> -->
        <%= user.name %>
    </h2>
    <!-- 解释是一段js -->
        <% user.post.forEach((item) => { %>
        <li>
            <a href="/post?id=<%= item.id %>">
                <%= item.title %>
            </a>
        </li>
        <% }) %>
<%- include('footer') %>